html {
  background-color: #eee;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

footer a {
  text-decoration: none;
}

.gallery-img {
  width: 100%;
}

/* apapun yang ada di dalam gallery persis setelah row */
#gallery .row > * {
  padding: 0;
}
